

// Xor.vm
// Compute z = x XOR y, store in argument[2]

push argument 0     // Push x
push argument 1     // Push y
or                  // Stack: x OR y
push argument 0     // Push x
push argument 1     // Push y
and                 // Stack: x AND y
not                 // Stack: NOT (x AND y)
and                 // Stack: (x OR y) AND NOT (x AND y) = x XOR y
pop argument 2      // Store z in argument[2]
